<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<div class="container-fluid" id="blog-container">
  <div class="row"> 
  <% @blogs.each do |blog| %>
    <div class="card post" >
      <%= image_tag 'https://i.pinimg.com/originals/c0/ab/10/c0ab107fac33f51f62a2c1de03d8f262.jpg', id:"image"%>
      <h2><%= blog.title %></h2>
      <p><%= blog.topic %></p>
      <p><%= blog.body %><p>
      <%= link_to 'Show', blog %>
      <%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:admin)%>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin)%>
    </div>
  <% end %>
</div>
</div>

</div>

<%= link_to 'New Blog', new_blog_path %>
