<!DOCTYPE html>
<html>
  <head>
    <title>TechPortfolioApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= form_tag("/blogs", method: :get) do %>
      Search Topics
    <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
  <% end %>


    <%= yield %>
  </body>
</html>
